<h2>Add Student</h2>
<!-- If there were any errors in the express validation they are listed here-->
<% if (errors != undefined) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- If there was however a mysql error it is instead listed here-->
<% if (mySqlError != undefined) { %>
    <ul>
        <li><%= mySqlError %></li>
    </ul>
<% } %>

<!-- On submission the addStudent post method is called, if successful the user is redirected back to students list-->
<form action="/addStudent" method="POST">
  <label>Student ID:</label><br>
  <input type="text" name="student_id"><br>
  <label>Student Name:</label><br>
  <input type="text" name="student_name"><br>
  <label>Grade Point Average:</label><br>
  <input type="text" name="student_gpa"><br>
  <input type="submit" value="Submit">
</form>
<p><a href="/listStudents"><ul>Back to students list</ul></a></p>