<h2>Add Student</h2>

<% if (errors != undefined) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<% if (mySqlError != undefined) { %>
    <ul>
        <li><%= mySqlError %></li>
    </ul>
<% } %>

<form action="/addStudent" method="POST">
  <label>Student ID:</label><br>
  <input type="text" name="student_id"><br>
  <label>Student Name:</label><br>
  <input type="text" name="student_name"><br>
  <label>Grade Point Average:</label><br>
  <input type="text" name="student_gpa"><br>
  <input type="submit" value="Submit">
</form>
<p><a href="/listStudents"><ul>Back to students list</ul></a></p>