<h1>Error Message</h1>
<br><br><br>
<!-- This warns the user that said student could not be deleted-->
<h1><%= student_id %> has associated modules and hence they cannot be deleted</h1>
<p><a href="/listStudents"><ul>Back to students list</ul></a></p>