<button onclick="window.location.href='/addStudent'">Add Student</button>
<!-- Creates a dynamic table based on passed in student information-->
<table>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>GPA</th>
        <th>Action</th>
    </tr>
    <% students.forEach((student) => { %>
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.gpa %></td>
            <!-- String literals are used in the delete button to help ensure the right url is called, and hence the right student is deleted-->
            <td><a href= "<%= `/listStudents/delete/${student.sid}`%>">Delete</a></td>
        </tr>        
    <% }) %>
</table>
<p><a href="/"><ul>Home</ul></a></p>